{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
<div class="uk-height-medium  uk-flex-middle uk-background-cover uk-light" 
data-src="/static/algo_images/bank_case.jpg" uk-img style="color: black;">
          
</div>
<br><br><br>
    <section class="intro bfsi">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info">
                    <h2></h2>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-12">
                    <div class="blog-details">
                        <div class="blog-contents noselect">
                            <h2 class="blog-title">
                                Business Challenge
                            </h2>
                            <p>
                                The concerned client faced delay in critical decision making due to disintegrated data handling and data silo creation. The traditional method of collecting, organising and compiling information wasn’t sufficient for the organisation which needed a drastic overhaul.
                            </p>
                            <h2 class="blog-title">
                                Transformation
                            </h2>
                            <p>Algo8’s cutting edge solution enabled the client  to handle variety of critical data across various sectors in a centralised manner. Flexibility and speed in accessing and transforming the data increased respectively.</p>
                            <h2 class="blog-title">
                                Results
                            </h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        Pre collaboration data sorting time decreased from 14 Hours to 38 minutes
                                    </div>
                                    <div class="col-sm">
                                        Value derived from Data Variability increased 100 times
                                    </div>
                                    <div class="col-sm">
                                        Increase in efficacy 95% reduction in processing time
                                    </div>
                                </div>
                            </div>
                            <h2 class="blog-title">
                                Business challenge story <br />
                                <span>Solving big business challenges</span>
                            </h2>
                            <p>Maintaining up-to-date financial data is critical towards the success and growth rate of any company across the globe. In this day and age, when almost every service is becoming digitised across various verticals, it’s important to ensure that the data being received from an existing or potential customer is collected, sorted and archived in a secure portal with quick accessibility as and when the demand arises. Customer retention over sustained period of time is of critical importance in this regard.</p>
                            <p>Traditional methods of file sorting and archival storage are a story of the past. But despite the fact that majority companies and entities are moving onto the digital domain, ensuring single point access of data across different verticals with precision and speed is a major challenge.</p>
                            <p>
                                With its expert team of data scientists and Artificial Intelligence (AI) developers, Algo8 is carving a niche for itself in terms of creating customised solutions for its clients in the domain of scientific data management, true Machine Learning (ML) capabilities and an AI platform that’s responsive and dependable. Algo8’s specialty is in building potent data lake environments that are highly secure, flexible and scalable.
                            </p>
                            <p>DMI finance is a leading name in housing finance headquartered in New Delhi. Reliance on traditional principles of defining use case before loading the data into warehouses limited DMI from exploring advance ML/AI solution to achieve its true data potential. DMI also wanted to limit the maintenance requirement of such a system. Lack of flexibility increased the time to report creation and lessened the intelligence from multiple data sources. As a growing organization, DMI wanted its sources, type(s) of data as well the computing requirements to grow manifolds making the current setup infeasible. It’s partnership with Algo8 spelled rich dividends for DMI who were able to not just increase their system responsiveness and security but also experienced a noticeable surge in their customer base. </p>
                            <blockquote>
                                <span class="icon-speech"></span> “The distributed system created by Algo8 has helped us reduce our MIS generation and production time”-Anmol Nayyar (Executive Director,DMI)
                            </blockquote>
                            <h2 class="blog-title">
                                Transformation story <br />
                                <span>Harnessing the power of analytics</span>
                            </h2>
                            <p>Financial analytics is a diverse field since it combines a plethora of information from a person’s social credentials to his/her spending capacity to how credit worthy a person really is.</p>
                            <p>While most companies rely on physical Know Your Customer’s (KYC) to get this data,  they aren’t able to sufficiently produce the required information with precision from a digital portal for verification purposes. DMI faced a similar situation.</p>
                            <p>DMI was looking for a company that could help with data analytics and streamline the information that we had on a single, easily accessible platform. Thanks to its collaboration with Algo8, DMI was able to derive multiplicity of benefits from their disintegrated data</p>
                            <ul>
                                <li>
                                    Application of a variety of tools to gain insight into what DMI’s financial and logistical data means across a variety of indicators
                                </li>
                                <li>Democratisation of data access across various verticals and departments</li>
                                <li>
                                    Elimination of data silos to enable faster data handling
                                </li>
                                <li>Single, unified view of data across the organisation combined with the ability to store all types of structured and unstructured data for quick reference and archival storage.</li>
                                <li>Ability to load raw data in native format and transform as per context</li>
                            </ul>
                            <p>Algo8’s customised & server-less architecture coupled with its framework that allows it to explore all available top cloud platforms including open source stacks boosted DMI’s data handling capacity enabling it to process and analyse financial and logistical data at a moment’s notice with negligible latency period with 100% accuracy. This is truly business redefined!</p>
                            <blockquote>
                                <span class="icon-speech"></span> “Algo8 has increased the potential value we can extract from data from different sources in a way more flexible and scalable.”- Anmol Nayyar (Executive Director,DMI)
                            </blockquote>
                            <h2 class="blog-title">
                                Results story <br />
                                <span>Transforming data into real results</span>
                            </h2>
                            <p>Algo8’s experience of creating customer oriented data science and AI solutions for its clients in India and abroad helped it to cut down DMI’s Management Information System (MIS) latency by a considerable margin. This helped it to process and approve loans on a case to case basis in a much more targeted manner leading to a substantial growth in profits and a loyal client base that banks upon DMI to make their dream of having a house, for instance, a living reality in the shortest time period possible. The numbers speak for themselves.</p>
                            <p>Information generation time for Critical Business Decision Making decreased from 14 hours to 38 minutes, leading to a 95% reduction in processing time. Due to a serverless architecture setup, basic operational cost for DMI came down by more than 80% with virtually no maintenance cost. The data lake, created by Algo8, is able to take care of more than 10 levels of access control and integrate and transform from 50+ different data sources. Given that maintaining physical servers in often hazardous and remote locations, having a cloud server made all the difference for DMI in rising to the top in the credit lending industry.</p>
                            <p>Anmol Nayyar, Executive Director, DMI Finance remarked, “The distributed system created by Algo8 has helped us reduce our MIS generation and production time. Algo8 has increased the potential value we can extract from data from different sources in a way more flexible and scalable.”</p>
                            <p>
                                And this is just the beginning. From an AI enabled organisation, Algo8 is envisioning a world where AI and ML are symbiotically linked to the way we perceive and perform activities across various spheres of life. Though the road to this reality is fraught with challenges galore, Algo8’s  perseverance in ushering in a truly connected world, where man and machine work together, aims to do just that.
                            </p>
                            <h2 class="blog-title">
                                About CLIENT - DMI finance
                            </h2>
                            <p>DMI Finance was founded in 2008 by Shivashish Chatterjee and Yuvraja C. Singh with one goal: to build a platform at the cutting edge of the Indian credit markets. DMI’s core business is to be a credit partner to growing Indian companies looking to realize the full breadth of their aspirations. It’s loan offerings are tailored to meet the needs of most companies  wherein it provides short-term bridge financing, medium-term project financing and we can be term loan or working capital lenders. DMI has been rated 'A' by CARE Ratings, the second largest credit rating agency in India.</p>
                            <h2 class="blog-title">
                                Relevant Solution components
                            </h2>
                            <ul>

                                <li>ALGO8 Data Lake</li>
                                <li>Machine Learning SaaS</li>
                                <li>Deep Learning SaaS</li>
                            </ul>

                        </div>
                        <!-- Ends: .blog-contents -->
                    </div>
                    <!-- Ends: .blog-details -->
                </div>
                <!-- Ends: .col-lg-8 -->
            </div>
        </div>
        <!-- Ends: .contianer -->
    </section>
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




