{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <img src="static/assets/img/logo_banner.svg" width="400px"><br> 
          <h2 style = "font-weight: bold; color: red; display: inline;">E</h2><h3 style = "display: inline;">mpowering</h3> 
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;E</h2><h3 style = "display: inline;">nterprises</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">through</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">pre</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">built</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">and</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">custom</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;A</h2><h3 style = "display: inline;">rtificial</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;I</h2><h3 style = "display: inline;">ntelligence</h3>
          <p style = "font-size: 22px;">We create full data and AI driven tech which is decisive in driving our clients growth</p>
        </div>
        <video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>

      </section>
<br><br><br>
        <section class="intro banking">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info text-center">
                    <h2>
                        <b>Banking</b>
                    </h2>
                    <p>
                        Having worked with banking and fintech companies, we understand the immense value, pattern based analytics powered by Machine Learning adds to banking and financial services. We also help banks and fintechs capture newer data points about their customers which are beyond their transactional world view and frame of reference.
                    </p>

                </div>
            </div>
        </div>
    </section>

    <!-- Start: .services -->
    <section class="about-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wcu research-features">
                    <div class="row">
                        <div class="col-md-12 section-title text-center">
                            <h2>
                                <b>How Algo8 has helped Banks</b>
                            </h2>
                            <p>Algo8 platform and frameworks for banks and financial services enable them in </p>
                        </div>
                    </div>
                </div>
                <!-- Ends: .research-features -->
                <div class="col-md-6">
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" href="#">Big Data Readiness and Data Lake Creation </a>
                            <div class="uk-accordion-content">
                                <p>
                                    Create, Conceive and Implement Big Data enterprise solution to store and curate all type of internal and external data on a single platform, which maintains flexibility, security and scalability for any type of data initiative.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Customer Lifecycle Management  Analytics</a>
                            <div class="uk-accordion-content">
                                <p>Creating a 360 degree view of the customer, their profiling, creating a customer story and enabling analytics driven intervention.</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Machine Learning and Deep Learning aaS</a>
                            <div class="uk-accordion-content">
                                <p>CustomizedAI and Pattern based Learning Solutioning for contextual application in enterprises. Creation, Conception and Development of use cases in highly secure environmentsfor</p>
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Predictive Fraud Detection and Monitoring
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Face recognition
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Predictive Risk Management
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Predictive Credit Underwriting
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> OCR Automation
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> AI Powered customer targeting and Cross sell
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Predictive Infrastructure Maintenance and Incidence Management
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Loc8 for Banks</a>
                            <div class="uk-accordion-content">
                                <p>
                                    An AI driven smart and easy location intelligence tool with advanced machine learning powered geospatial analysis to contextualise external data for decision making.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Opini8 for Banks</a>
                            <div class="uk-accordion-content">
                                <p>
                                    An NLP based brand perception tool, which collates all social chatter about a bank and its competitors from channels like mail, social media,news,etc. Opini8 also enables customer support through NLP
                                </p>
                            </div>
                        </li>
                    </ul>

                    <a href="bfsi.html" style="font-weight:500; font-size:20px;">VIEW CASE STUDY</a>

                </div>
                <div class="col-md-6">
                    <iframe height="315" width="100%" src="https://www.youtube.com/embed/k0MpVsTAyWo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <br> <br>
    <div class="highlights">
            <h2 style = "text-align: center">Testimonials</h2>
            <section>
                <div class="row">
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;">AI makes banking smoother; Expert opinion</h3>
                    Artificial Intelligence is not just a catalyst that speeds up work and interaction in the professional domain, it also needs to ensure that its work is secure,
                    <span id="dots">...</span><hr>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test1">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;">Artificial Intelligence or AI is the buzzword in the technological world </h3>
                  Artificial Intelligence or AI is the buzzword in the technological world and has endless applications.From monitoring a person’s
                                                      <span id="dots1">...</span><hr>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test2">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                </div>
            </section>
          </div>

<div id="modal-test1" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p>Artificial Intelligence is not just a catalyst that speeds up work and interaction in the professional domain, it also needs to ensure that its work is secure,

                                                       safe and done in a manner consistent with internationally accredited cyber-security protocols. This aspect holds special relevance in the banking sector where a secure and verified transaction is key to the bank’s survivability in an otherwise hostile cyber environment. In this regard, US based Citi Ventures, the Venture Capital arm of Citibank has tied up with Feedzai, a data science company that scans financial data and transactions and flags any hostile or unsanctioned process.

                                                        Ramneek Gupta, Managing Director and co-head of Venture Investing at Citi Ventures remarks, “Our investment in Feedzai will help support the continued development of their unique machine learning platform, which provides the ability to identify new and emerging threats and protect bank customers at scale.”

                                                        Particularly after worldwide ransomware such as WannaCry and Petya reared their ugly hood, such technological interventions and safeguards become more critical to prevent a financial disaster of global proportions</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>

<div id="modal-test2" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        ss
        <p>Artificial Intelligence or AI is the buzzword in the technological world and has endless applications.From monitoring a person’s
                                                        eliminating humans from a workplace, AI is changing the way one sees and perceives events and processes at the micro and macro levels.

                                                        Interestingly, AI has had a deep impact on the banking industry as well. For instance, US based Wells Fargo has been experimenting with ‘Chatbots’ via facebook messenger to ensure almost instantaneous communications with its customers. Steve Ellis, head of Wells Fargo’s Innovation Group, remarked that, “AI technology allows us to take an experience that would have required our customers to navigate through several pages on our website, and turn it into a simple conversation in a chat environment. That’s a huge time-saving convenience for busy customers who are already frequent users of Messenger”

                                                        Though the preliminary process of feeding the AI system such as a Chatbot with financial know how would be a time consuming affair, it nevertheless is ultimately rewarding if one considers the speed, efficiency and reliability with which it accomplishes tasks that otherwise would be a time consuming affair.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




