
<div class="box">
    <div class="container">
     	<div class="row">

			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

                        <i class="fa fa-hand-pointer-o fa-3x" aria-hidden="true"></i>

						<div class="title"><a>
							<h3>Tacit AI</h3></a>
						</div>

						<div class="">
							<span>AI Platforms that Systemise Tacit Industry Knowledge. Replicable Intellectual Property in Oil & Gas, Manufacturing, Energy and Utilities, Healthcare, CPG,BFSI industries.  </span>
						</div>
						<br>
				

					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

					    <i class="fa fa-users fa-3x" aria-hidden="true"></i>

						<div class="title"><a>
							<h3>Trust</h3></a>
						</div>

						<div class="">
							<span>More than 25 clients trust us with their Data for AI Development Solutions.  </span>
						</div>
						<br>
				

					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

                        <i class="fa fa-tasks fa-3x" aria-hidden="true"></i>

						<div class="title"><a>
							<h3>Global</h3></a>
						</div>

						<div class="">
							<span>Global presence in 4 different geographies and clients include Fortune 500 companies. </span>
						</div>
						<br>
				

					 </div>
				</div>

				<div class="col-lg-2 col-md-2"></div>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

                        <i class="fa fa-globe fa-3x" aria-hidden="true"></i>

						<div class="title"><a>
							<h3>Platform</h3></a>
						</div>

						<div class="">
							<span>50+ projects range from Design, Development and Deployment of Proprietary Pre Built AI Product Assets and Custom AI </span>
						</div>
						<br>
				

					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

					    <i class="fa fa-television fa-3x" aria-hidden="true"></i>

						<div class="title"><a>
							<h3>Ecosystem</h3></a>
						</div>

						<div class="">
							<span>Knowledge Partners in AI with Government, Academia and Research Labs co creating AI Ecosystem</span>
						</div>
						<br>
				

					 </div>
				</div>
				<div class="col-lg-2 col-md-2"></div>

				 

		</div>
    </div>
</div>