{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" 
data-src="/static/algo_images/what-we-do-banner.jpg" uk-img style="color: black;">
</div>
<br><br><br>

<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-color: #000000; font-size: 20px;">
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
        <h1 uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;"><b>DESIGN</b></h1>
        <p uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;">Our Design platform enables you to assess current maturity and design an AI roadmap for your firm. Our immersive use cases development modile helps you find and confirm potent business hypothesis that you can solve through AI.</p>
    </div>
</div>

<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-color: white; font-size: 20px; color: black;">
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
        <h1 uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;"><b>Develop and Deploy</b></h1>
        <p uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;">Our Development platform and AI Scoentists enables you to develop fast prototypes to full fledged batch model with the help of our ready teams. We utilise our global framework to develop and deploy cutting edge AI ar work.</p>
    </div>
</div>
<div class="highlights">
<section>
        <div class="w3-card-8 content" style="background-image:url('/static/algo_images/prebuildai.jpg');">
            <div class="row">
                <div class="col-md-12 cta-contents">
                    <h2><b style="color: white;">Explore the power of AI </b></h2>
                    <a class="uk-button uk-button-default" href="#" style="background-color: white;">Schdule a demo</a>
                </div>
            </div>
        </div>
   </section>
</div>
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




