{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <img src="static/assets/img/logo_banner.svg" width="400px"><br> 
          <h2 style = "font-weight: bold; color: red; display: inline;">E</h2><h3 style = "display: inline;">mpowering</h3> 
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;E</h2><h3 style = "display: inline;">nterprises</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">through</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">pre</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">built</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">and</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">custom</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;A</h2><h3 style = "display: inline;">rtificial</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;I</h2><h3 style = "display: inline;">ntelligence</h3>
          <p style = "font-size: 22px;">We create full data and AI driven tech which is decisive in driving our clients growth</p>
        </div>
        <video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>

      </section>
<br><br><br>
    <section class="intro government">
        <div class="container clearfix">
            <div class="intro-details">
                <div class="intro-info text-center">
                    <h2>
                        <b>Government</b>
                    </h2>
                    <p>
                        Having worked with the Indian Government, we understand the immense value, pattern based analytics powered by Machine Learning can bring to Governance . We also help them capture newer data points which are beyond their transactional world view and frame of reference.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Start: .services -->
    <section class="about-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wcu research-features">
                    <div class="row">
                        <div class="col-md-12 section-title text-center">
                            <h2>
                                <b>How Algo8 has helped Government</b>
                            </h2>
                            <p>Algo 8 platform and frameworks for Governance enable them in</p>
                        </div>
                    </div>
                </div>
                <!-- Ends: .research-features -->
                <div class="col-md-6">
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" href="#">Big Data Readiness and Data Lake Creation </a>
                            <div class="uk-accordion-content">
                                <p>
                                    Create, Conceive and Implement Big Data enterprise solution to store and curate all type of internal and external data on a single platform, which maintains flexibility, security and scalability for any type of data initiative.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">People Lifecycle Managment Analytics</a>
                            <div class="uk-accordion-content">
                                <p>
                                    Creating a 360 degree view of the people, their profiling, creating a customer story and enabling analytics driven intervention.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a class="uk-accordion-title" href="#">Machine Learning and Deep Learning aaS</a>
                            <div class="uk-accordion-content">
                                <p>CustomizedAI and Pattern based Learning Solutioning for contextual application in enterprises. Creation, Conception and Development of use cases in highly secure environmentsfor : </p>
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Predictive Fraud Detection and Monitoring
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Face recognition
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Predictive Risk Management
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Predictive Credit Underwriting
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> OCR Automation
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> AI Powered customer targeting and Cross sell
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Predictive Infrastructure Maintenance and Incidence Management
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Loc8 for Government</a>
                            <div class="uk-accordion-content">
                                <p>
                                    An AI driven smart and easy location intelligence tool with advanced machine learning powered geospatial analysis to contextualise external data for decision making.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <iframe height="315" width="100%" src="https://www.youtube.com/embed/7_Rpdnl1VwQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <br> <br>
    <div class="highlights">
            <h2 style = "text-align: center">Testimonials</h2>
            <section>
                <div class="row">
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;">  AI and governance work hand in hand to ensure seamless connectivity</h3>
                     Effective Governance rather than elected government is becoming a key to aligning the wishes of the people with national progress. With the onset of technology particularly AI,
                    <span id="dots">...</span><hr>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test1">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;">Fighting food poisoning with AI</h3>
                  Hygiene and quality are amongst the top two factors that one notices upon visiting a restaurant. These two can either make or break a brand to a considerable extent. Conventional methodologies rely on random inspections to 
                                                      <span id="dots1">...</span><hr>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test2">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                </div>
            </section>
          </div>

<div id="modal-test1" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p> Effective Governance rather than elected government is becoming a key to aligning the wishes of the people with national progress. With the onset of technology particularly AI,
                                                      coping with people’s expectations in an increasingly demanding and dynamic atmosphere has become easier and faster. Governments across the globe are realising the tremendous benefits that AI and data science have invested considerably in to ensure its speedy incorporation into the value chain. Denmark is one such nation that’s considering this move after careful thought.

                                                        The national government has been at the forefront of mixing AI and healthcare. Danish startup Corti has become a sensation in this regard. Its AI system has been instrumental in detecting incidences of cardiac arrest. It acts as a medium between emergency responders and the patient. Based on data from millions of previous calls, the AI looks for signs of cardiac arrest, including both verbal and non-verbal data - like tone of voice and breathing patterns. During the call, the software provides the dispatcher with suggestions for questions and recommendations for action. The AI soon had its moment of fame. When researchers at the emergency department tested the technology on 161,000 emergency calls from the Danish capital in 2014, Corti was 93% accurate in identifying cardiac arrest. Actual human dispatchers only got 73% right.

                                                        Lars Frelle-Petersen, Director-General of Denmark’s Agency for Digitisation remarks that, “We’re very interested in machine learning and how we can support our doctors and nurses in decision-making and in description of medicine and diseases.”</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>

<div id="modal-test2" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        
        <p>Hygiene and quality are amongst the top two factors that one notices upon visiting a restaurant. These two can either make or break a brand to a considerable extent. Conventional methodologies rely on random inspections to 
                                                       detect if restaurants are flouting hygiene standards which apart from being time consuming is prone to errors and bias. Taking this into consideration, Las Vegas Health Department (LVHD) has taken the help of machine learning to detect cases of food poisoning in restaurants that fall under its jurisdiction. In collaboration with researchers from the University of Rochester, LVHD deployed an app called nEmesis to detect restaurants violating food regulations.

                                                        An on-field implementation of this app resulted in accurate detection of unhygienic establishments. For three months beginning in early 2016, the system automatically scanned an average of 16,000 tweets from 3,600 users each day. 1,000 of those tweets snapped to a specific restaurant and of those, approximately 12 contained content that likely signified food poisoning. The research team then used these tweets to generate a list of highest-priority locations for inspections. Upon analysing the data closely, they found the tweet-based system led to citations for health violations in 15 percent of inspections, compared to 9 percent using the random system.

                                                        Some of the inspections led to warnings; others resulted in closures. The researchers estimate that these improvements to the efficacy of the inspections led to 9,000 fewer food poisoning incidents and 557 fewer hospitalization in Las Vegas during the course of the study. "nEmesis has proved to be a useful tool for quickly and accurately identifying facilities in need of support, education, or regulation by the health department," says Lauren DiPrete, senior environmental health specialist for the Southern Nevada Health District.

                                                        If the deployment of the app could lead to such a significant drop in cases of food poisoning, imagine the effect of deploying such a module on national or global level! AI is truly a life changing experience in this regard.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




