{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <img src="static/assets/img/logo_banner.svg" width="400px"><br> 
          <h2 style = "font-weight: bold; color: red; display: inline;">E</h2><h3 style = "display: inline;">mpowering</h3> 
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;E</h2><h3 style = "display: inline;">nterprises</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">through</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">pre</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">built</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">and</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">custom</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;A</h2><h3 style = "display: inline;">rtificial</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;I</h2><h3 style = "display: inline;">ntelligence</h3>
          <p style = "font-size: 22px;">We create full data and AI driven tech which is decisive in driving our clients growth</p>
        </div>
        <video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>

      </section>
<br><br><br>
       <section class="intro healthcare">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info text-center">
                    <h2>
                       <b> Healthcare</b>
                    </h2>
                    <p>
                        Having worked with pharma company, we understand the immense value, pattern based analytics powered by Machine Learning adds to healhcare services.
                    </p>

                </div>
            </div>
        </div>
    </section>

    <!-- Start: .services -->
    <section class="about-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wcu research-features">
                    <div class="row">
                        <div class="col-md-12 section-title text-center">
                            <h2>
                                <b>How Algo8 has helped Healthcare</b>
                            </h2>
                            <p>Algo 8 platform and frameworks for Pharma and healthcare services enable them in </p>
                        </div>
                    </div>
                </div>
                <!-- Ends: .research-features -->
                <div class="col-md-6">
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" href="#">Big Data Readiness and Data Lake Creation </a>
                            <div class="uk-accordion-content">
                                <p>
                                    Create, Conceive and Implement Big Data enterprise solution to store and curate all type of internal and external data on a single platform, which maintains flexibility, security and scalability for any type of data initiative.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Customer Lifecycle Management Analytics</a>
                            <div class="uk-accordion-content">
                                <p>Creating a 360 degree view of the customer, their profiling, creating a customer story and enabling analytics driven intervention.</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Machine Learning and Deep Learning SaaS</a>
                            <div class="uk-accordion-content">
                                <p>CustomizedAI and Pattern based Learning Solutioning for contextual application in enterprises. Creation, Conception and Development of use cases in highly secure environmentsfor :</p>
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Market Mix Modelling
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Spend Optimisation
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Drug Response Analysis
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Drug Effectiveness Assessment
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul uk-accordion>

                        <li>
                            <a class="uk-accordion-title" href="#">Loc8 for Healthcare</a>
                            <div class="uk-accordion-content">
                                <p>
                                    An AI driven smart and easy location intelligence tool with advanced machine learning powered geospatial analysis to contextualise external data for decision making .
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Opini8 for Healthcare</a>
                            <div class="uk-accordion-content">
                                <p>
                                    An NLP based brand perception tool, which collates all social chatter about a pharma company and its competitors from channels like mail, social media,news,etc. Opini8 also enables customer support through NLP.
                                </p>
                            </div>

                        </li>

                    </ul>

                </div>
                <div class="col-md-6">
                    <iframe height="315" width="100%" src="https://www.youtube.com/embed/k0MpVsTAyWo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <br> <br>
    <div class="highlights">
            <h2 style = "text-align: center">Testimonials</h2>
            <section>
                <div class="row">
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;"> AI brings medical aid to one's doorstep</h3>
                    AI offers untold opportunities in almost every field known to mankind. It holds particular relevance in the field of healthcare. As per a figure by UK based Deloitte, the industry is currently pegged at $7.077 trillion
                    <span id="dots">...</span><hr>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test1">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;">AI propels targeted drug therapy to unparalleled success</h3>
                  As diseases across the world become more resilient to conventional drugs and medicines, researchers across the globe have to work harder but more importantly smarter
                                                      <span id="dots1">...</span><hr>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test2">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                </div>
            </section>
          </div>

<div id="modal-test1" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p>AI offers untold opportunities in almost every field known to mankind. It holds particular relevance in the field of healthcare. As per a figure by UK based Deloitte, the industry is currently pegged at $7.077 trillion

                                                      dollars that can balloon to $8.743 trillion by 2020. Given this astronomical figure, it’s no wonder that healthcare is being given a serious technological upgradation across various verticals.

                                                        US based Boston Children’s Hospital (BCH) has taken help of Amazon Alexa to answer queries of parents regarding common ailments without the guardians having to come to the hospital complex. The "KidsMD™" Alexa skill was developed by the Innovation & Digital Health Accelerator (IDHA) team at. Devices enabled with Alexa, such as Amazon Echo, Echo Dot, Amazon Tap and Amazon Fire TV, can help parents decide whether symptoms like fever, cough, headache, rash, vomiting, sore throat, diarrhea, fatigue or shortness of breath warrant a call to the doctor--all by using the convenience of voice.

                                                        “The KidsMD™ skill makes it easier to access medical information from Boston Children's Hospital, a world-class medical institution. That access is important for all of our Alexa customers, and particularly parents," says Rob Pulciani, Amazon Alexa Director.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>

<div id="modal-test2" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        
        <p>As diseases across the world become more resilient to conventional drugs and medicines, researchers across the globe have to work harder but more importantly smarter
                                                       to precisely and safely eliminate a diseased cell or or organ part so that a patient suffering is drastically reduced. Targeted delivery of medicines, nanomedicines and robotic surgery are some of the breakthrough medical advancements that have occured due to intervention of AI and data science. It’s in this context that San Francisco based Atomwise’s research in incorporating AI into drug therapy becomes noteworthy.

                                                        Atomwise’s technology uses a statistical approach that extracts the insights from millions of experimental affinity measurements and thousands of protein structures to predict the binding of small molecules to proteins. This fundamental tool makes it possible for chemists to pursue hit discovery, lead optimization and toxicity predictions with unparalleled precision and accuracy.

                                                        Han Lim, MD, PhD, Vice President, Global Head of Partnering at Atomwise adds, “Researchers who were previously unable to investigate new drug treatments can now do so because we have removed barriers impeding their efforts. Specifically, we provide them with access to AI screening technology and medicinal chemistry know-how, and eliminate the high cost and enormous time required for physical screening of compounds."</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




