{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <img src="static/assets/img/logo_banner.svg" width="400px"><br> 
          <h2 style = "font-weight: bold; color: red; display: inline;">E</h2><h3 style = "display: inline;">mpowering</h3> 
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;E</h2><h3 style = "display: inline;">nterprises</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">through</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">pre</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">built</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">and</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">custom</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;A</h2><h3 style = "display: inline;">rtificial</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;I</h2><h3 style = "display: inline;">ntelligence</h3>
          <p style = "font-size: 22px;">We create full data and AI driven tech which is decisive in driving our clients growth</p>
        </div>
        <video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>

      </section>
<br><br><br>
       <section class="intro insurance">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info text-center">
                    <h2>
                        <b>Insurance</b>
                    </h2>
                    <p>
                        Having worked with Insurance companies, we understand the immense value, pattern based analytics powered by Machine Learning adds to insurance services. We help insurance companies enhance their in-house data with lifestyle segmentation, demographic, and market potential.
                    </p>

                </div>
            </div>
        </div>
    </section>

    <!-- Start: .services -->
    <section class="about-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wcu research-features">
                    <div class="row">
                        <div class="col-md-12 section-title text-center">
                            <h2>
                                <b>How Algo8 has helped Insurance Companies</b>
                            </h2>
                            <p>Algo 8 platform and frameworks for insurance services enable them in </p>
                        </div>
                    </div>
                </div>
                <!-- Ends: .research-features -->
                <div class="col-md-6">
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" href="#">Big Data Readiness and Data Lake Creation </a>
                            <div class="uk-accordion-content">
                                <p>
                                    Create, Conceive and Implement Big Data enterprise solution to store and curate all type of internal and external data on a single platform, which maintains flexibility, security and scalability for any type of data initiative.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Customer Lifecycle Management Analytics</a>
                            <div class="uk-accordion-content">
                                <p>Creating a 360 degree view of the customer, their profiling, creating a customer story and enabling analytics driven intervention.</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Machine Learning and Deep Learning aaS</a>
                            <div class="uk-accordion-content">
                                <p>CustomizedAI and Pattern based Learning Solutioning for contextual application in enterprises. Creation, Conception and Development of use cases in highly secure environmentsfor </p>
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Predictive Fraud Detection and Monitoring
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Localised pricing
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Weather Risk Prediction
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Subrogation Recovery Analysis
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> AI Powered customer targeting and Cross sell
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Loc8 for Insurance Companies</a>
                            <div class="uk-accordion-content">
                                <p>
                                    An AI driven smart and easy location intelligence tool with advanced machine learning powered geospatial analysis to contextualise data for decision making such as enhancing in-house data with lifestyle segmentation, demographic, and market potential.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Opini8 for Insurance Companies</a>
                            <div class="uk-accordion-content">
                                <p>
                                    An NLP based brand perception tool, which collates all social chatter about an insurance company and its competitors from channels like mail, social media,news,etc. Opini8 also enables customer support through NLP.
                                </p>
                            </div>

                        </li>

                    </ul>

                </div>
                <div class="col-md-6">
                    <iframe height="315" width="100%" src="https://www.youtube.com/embed/k0MpVsTAyWo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <br> <br>
    <div class="highlights">
            <h2 style = "text-align: center">Testimonials</h2>
            <section>
                <div class="row">
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;"> Reskilling is key to surviving in the AI enabled insurance industry</h3>
                    While the obvious merits of AI cannot be overruled, one also needs to consider that it can and will potentially replace human workers across multiple sectors. Windowless, humanless and faceless machines
                    <span id="dots">...</span><hr>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test1">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;">AI emboldens insurance in ways not thought before</h3>
                 With the emergence of AI, complex and time consuming tasks are slowly becoming easier, faster and fault proof. While AI won't replace the human element in industries across the world for a long, long time, its potential to
                                                      <span id="dots1">...</span><hr>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test2">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                </div>
            </section>
          </div>

<div id="modal-test1" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p>While the obvious merits of AI cannot be overruled, one also needs to consider that it can and will potentially replace human workers across multiple sectors. Windowless, humanless and faceless machines

                                                      that can do twice or thrice the amount of work that a group of people is being seriously considered by companies across the world. Insurance giant PwC estimates that close to 30% of existing UK jobs would be at risk from AI by the mid-2030s. However, Jeremy Trott, head of claims operations for Allianz Insurance, feels otherwise. He remarks that, “At the lower-skills end, there is a danger of some job losses, but also, plenty of higher-skilled, more interesting roles will be created.”

                                                        Broker Andy Jenkins, operations director for Russell Scanlan presents an alternate idea to this narrative. He feels, “There are going to be times when the ‘computer says no’, and this is when a broker will be needed to intervene. So the human element isn’t going to be absent. The job profile might demand reskilling in a manner conducive to the prevailing environment.”

                                                        AI is going to be the next big game changer. But the manner in which it percolates deep into the workforce and value chain is dependent on its human creators. Our choices in this regard thus are of crucial importance.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>

<div id="modal-test2" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
               <p>With the emergence of AI, complex and time consuming tasks are slowly becoming easier, faster and fault proof. While AI won't replace the human element in industries across the world for a long, long time, its potential to
                                                       disrupt the way business is done cannot be underestimated. This holds particular relevance for the insurance industry. Given that consumerism is rapidly catching up in countries across the globe, people are fortifying their assets by investing in policies that they can depend on in the scenario that disaster comes knocking unexpectedly.

                                                        Ramnath Balasubramanian, Partner at McKinsey, New York notes that business will not be the same with AI around.  He further notes, “Auto accidents will be reduced through autonomous vehicle usage, in-home flooding will be prevented by IoT devices, buildings will be reprinted after a natural disaster, and lives will be saved and extended by improved healthcare. Likewise, autonomous vehicles will break down, natural disasters will continue to devastate coastal regions, individuals will require effective medical care, as well as support when a loved one passes. This is where AI and data science will need to be combined to ensure that post crisis recovery crisis is smooth and less painful for all parties concerned.”
                                                        However, to make this dream a reality, the insurance sector will need to acquire the necessary skills in understanding the nuances of AI and data science. Science & Commerce will need to be more inclusive of each other than ever before if this is to happen</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




