{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
<div class="uk-height-medium  uk-flex-middle uk-background-cover uk-light" 
data-src="/static/algo_images/bank_case.jpg" uk-img style="color: black;">
          
</div>
<br><br><br>
    <section class="intro loc8-case">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info">
                    <h2></h2>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-12">
                    <div class="blog-details">
                        <div class="blog-contents noselect">
                            <h2 class="blog-title">
                                Business Challenge
                            </h2>
                            <p>
                                Future Group , India’s leading retailer , were looking at opening 500 new stores across the country to fight the influence of Online retailing by personalizing the experience of Hyperlocal.
                            </p>
                            <h2 class="blog-title">
                                Transformation
                            </h2>
                            <p>
                                Algo8’s location intelligence tool , Loc8 helped the retailer bring external catchment data as a context to look at store performance. Through more than a thousand geodemographic data features and powerful machine learning, external catchment data was combined with internal transactional data to give optimal insights to the retailer
                            </p>
                            <h2 class="blog-title">
                                Results
                            </h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        Client saved 9% in the first quarter of Implementation Itself just by Loc8’s Predictive Inventory Analysis.
                                    </div>
                                    <div class="col-sm">
                                        2000 new store locations were predicted across Delhi in 2 months time.
                                    </div>
                                    <div class="col-sm">
                                        Overall revenue and profits increased significantly through Loc8’s Dynamic Assortment of Goods.
                                    </div>
                                </div>
                            </div>
                            <h2 class="blog-title">
                                Business challenge story <br />
                                <span>Solving big business challenges</span>
                            </h2>
                            <blockquote>
                                <span class="icon-speech"></span> “The team at Algo8 has helped us deliver impactful use cases for our clients in retail and government domains.” -Sandipan Chattopadhay , Ex- CTO, Justdial
                            </blockquote>
                            <p>
                                With the advent of Online retail , traditional retailing has had a tough time lately. Traffic in shopping centres of biggest markets has been declining. Every retailer felt the need for a change.The success of a store is hugely impacted by its location and this crucial decision was  merely based upon either local knowledge or the historical data , both these approaches are not accurate as they do not take customer profiles into consideration.
                            </p>
                            <p>
                                Leading retailer ‘Future group’ decided to come up with 500 new stores across India which gives them personalising experience of Hyperlocal.They wanted to know their consumer’s thought process and perception which supposedly led to the challenge, however they had access to just a little more than the transaction data.
                            </p>
                            <p>
                                The next big challenge was to overcome the losses incurred in perishable products category. Uneven demands of goods sometimes led to overstocking while at other times it led to non-availability of products , which was a big disadvantage.
                            </p>
                            <p>
                                The third challenge was the right Marketing.The retailer observed that over the past couple of years there was a significant reduction in promotional scheme acceptance along with a rise in marketing expenditure. Sending customised promotional schemes to customers was a big time need.
                            </p>
                            <p>
                                Algo8’s location intelligence tool , Loc8 , was used to achieve these milestones. Though it was a daunting task, in the end it did yield astounding results.
                            </p>
                            <h2 class="blog-title">
                                Transformation story <br />
                                <span>Harnessing the power of analytics</span>
                            </h2>
                            <blockquote>
                                <span class="icon-speech"></span> “The team has expertise in machine learning  algorithms and pattern based analytics.”- Sandipan Chattopadhay , Ex- CTO, Justdial
                            </blockquote>
                            <p>
                                Data from all sources was brought together which included store location data , customer data, macroeconomic data and Algo8’s proprietary data. These drivers were fed into Loc8 which used its powerful machine learning algorithm to predict areas with highest sale potential. To make sure that this location was a profitable proposition, client suggestions or constraints were also considered. Hence Loc8 ended up predicting the most ideal locations which would generate highest revenues for the business.
                            </p>
                            <p>For Predictive Inventory Analysis , Algo8 collected the relevant data of each product. Advance forecasting techniques were applied on this data to forecast the demand and supply. The output was then fed to Predictive Analytics Algorithms which recommended the right amount of goods to be procured .</p>
                            <p>
                                The Retailer had some luxury stores in key cities and they wanted to identify the most valuable customers from existing ones, based upon relationship and purchase habits. Algo8 created this dynamic customer segment based upon relationship quotient , demography and behavioural sweet spot.
                            </p>
                            <p>
                                Dynamic assortment was achieved by analysing current data to understand the present assortment performance.Products with higher sale potential were identified. A model was created to ensure that maximum unique demands are met and this assortment was further rationalised through affinity analysis. The final assortment was fed into an optimisation engine with the objective to maximise the overall revenue per square foot.
                            </p>
                            <p>
                                In order to optimise marketing, huge data Extraction, transformation and loading exercise was undertaken to gather the relevant data.Feature engineering techniques like PCA was used to create new features. With advanced techniques such as SVM , Algo8 was able to predict the probability of campaign acceptance.
                            </p>
                            <h2 class="blog-title">
                                Results story <br />
                                <span>Transforming data into real results</span>
                            </h2>
                            <p>
                                2000 potential store locations were recommended by LOC8 in just 2 months based on the constraints provided while filtering out all the Bad locations. Predictive inventory analysis helped the client save 9% of its revenue in the very first quarter of implementation.
                                There has been a substantial decrease in the annual mailing expenditure and growth in campaign success.The implementation of Dynamic assortment marked an increase in the overall revenue and profits for the retailer.
                                It goes without saying that the stupendous success of this project is a milestone in Algo8’s journey.
                            </p>
                            <h2 class="blog-title">
                                About CLIENT - Future group
                            </h2>
                            <p>
                                Future Group is an Indian private conglomerate, headquartered in Mumbai. The company is known for having a significant prominence in Indian retail and fashion sectors, with popular supermarket chains like Big Bazaar and Food Bazaar, lifestyle stores like Brand Factory, Central etc. and also for having a notable presence in integrated foods and FMCG manufacturing sectors. Future Retail (initially Pantaloons Retail India Ltd (PRIL)) and Future Lifestyle Fashions, two operating companies of Future Group, are among the top retail companies listed in BSE with respect to assets, and in NSE with respect to market capitalization.
                            </p>
                            <h2 class="blog-title">
                                Relevant Solution components
                            </h2>
                            <ul>
                                <li>
                                    Loc8
                                </li>
                                <li>
                                    ALGO8 Data Lake
                                </li>
                                <li>
                                    Machine Learning SaaS
                                </li>
                            </ul>
                            <h2 class="blog-title">
                                Take the next step
                            </h2>
                            <p>
                                Algo8 builds potent data driven tech that is decisive in driving our client’s growth.
                                Learn how Loc8 can help you
                            </p>
                        </div>
                        <!-- Ends: .blog-contents -->
                    </div>
                    <!-- Ends: .blog-details -->
                </div>
                <!-- Ends: .col-lg-8 -->
            </div>
        </div>
        <!-- Ends: .contianer -->
    </section>
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




