{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <img src="static/assets/img/logo_banner.svg" width="400px"><br> 
          <h2 style = "font-weight: bold; color: red; display: inline;">E</h2><h3 style = "display: inline;">mpowering</h3> 
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;E</h2><h3 style = "display: inline;">nterprises</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">through</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">pre</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">built</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">and</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">custom</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;A</h2><h3 style = "display: inline;">rtificial</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;I</h2><h3 style = "display: inline;">ntelligence</h3>
          <p style = "font-size: 22px;">We create full data and AI driven tech which is decisive in driving our clients growth</p>
        </div>
        <video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>

      </section>
<br><br><br>
    <section class="intro parallax">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info text-center">
                    <h2>
                        <b>Loc8 SaaS</b>
                    </h2>
                    <hr>
                    <p>
                        A location intelligence tool which can combine
                        external data about customers with internal
                        sales data can drive the success of a business outlet
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-title text-center">
                    <h2>
                        <b>The Overview</b>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-6 col-md-12 service-image">
                    <figure>
                        <img src="/static/algo_images/loc8.png" alt="" class="img-fluid">
                    </figure>
                </div>
                <div class="col-lg-6 col-md-12 service-desc">
                    <p>
                        Loc8 is a location intelligence tool which uses external catchment data as a context to look at the performance of any business. Through more than a thousand geodemographic data features and powerful machine learning, external catchment data is combined with internal transactional data to give optimal insights to the business. This tool can be used to efficiently identify locations for new outlets as well as for evaluating the performance of the existing ones.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>
    <!-- Start: .services -->
    <section class="about-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wcu research-features">
                    <div class="row">
                        <div class="col-md-12 section-title text-center">
                            <h2>
                                <b>How Loc8 helps</b>
                            </h2>
                            <hr>
                        </div>
                    </div>
                </div>
                <!-- Ends: .research-features -->
                <div class="col-md-6">
                    <p>The convenience of online can only be answered by the personalized experience of hyper local.Any outlet dealing with retail customers, be it a grocery store, bank or an F&B outlet will have to be planned according to the customers it is supposed to cater to.But, 90% of the data about the customer lies outside your databases.To resolve this, Loc8 has been designed to do the following:</p>
                    <ul>
                        <li>
                            Incorporate the constraints provided by the user into the recommendation model.
                        </li>
                        <li>
                            Give recommendations for where to open the new store in a city.
                        </li>
                        <li>
                            Provide an interactive map based interface to study the area in terms of various data layers leading to decision augmentation.
                        </li>
                        <li>
                            Loc8's On The Fly model evaluation helps in creating what-if scenarios.
                        </li>
                        <li>
                            New location recommendation is made based on the above which suggests the potential locations and filters out the bad ones.
                        </li>
                    </ul>
                    <a href="/loc8_case" style="font-weight:500; font-size:20px;">VIEW CASE STUDY</a>
                </div>

                <div class="col-md-6">
                    <iframe height="315" width="100%" src="https://www.youtube.com/embed/k0MpVsTAyWo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

        <br><br><br>

    <div class="text-center">
      <h2><b>Product Features</b></h2>
    </div>

<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="text-center">
            <i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
          </div>
          <br>
          <h3><b>Flexibility</b></h3>
          <p>
              Incorporate new data streams, internal or
                        external which can help you get a better picture of your
                        customer : demographics, psychographics, purchasing
                        power, preferred channel, etc.
          </p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="text-center">
            <i class="fa fa-server fa-5x" aria-hidden="true"></i>
          </div>
          <br>
          <h3><b>All geographies</b></h3>
                    <p>
                        Applicable/Customizable to all types of cities and regions of the country.
                    </p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="text-center">
            <i class="fa fa-search fa-5x" aria-hidden="true"></i>
          </div>
          <br>
          <h3><b>Intelligence Augmentation</b></h3>
                    <p>
                        Helps in making a data
                        driven decision by providing functionalities to
                        create what-if scenarios and apply filters, while
                        handling all statistical complexities on the backend.
                    </p>
        </div>
    </div>
</div>

            <!-- Ends: .col-md-3 -->
            <!-- Ends: .col-md-3 -->
            
            <!-- Ends: .col-md-3 -->
    <br> <br>
 
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




