{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="/static/algo_images/manufacturing.jpg" uk-img>
          <h2 style = "font-weight: bold; color: red; display: inline;">E</h2><h3 style = "display: inline;">mpowering</h3> 
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;E</h2><h3 style = "display: inline;">nterprises</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">through</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">pre</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">built</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">and</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">custom</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;A</h2><h3 style = "display: inline;">rtificial</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;I</h2><h3 style = "display: inline;">ntelligence</h3>
</div>

<br><br><br>
        <section class="intro manufacturing">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info text-center">
                    <h2>
                        <b>Manufacturing</b>
                    </h2>
                    <hr>
                    <p>
                        Having worked with Manufacturing companies, we understand the importance of process engineering and how data can be used to transform and recreate processes. We have helped manufacturing companies in consuming the huge IIOT data which they generate in a meaningful way by building advance ML/AI solutions but have also helped them in  building their competency in data science  and creating processes, structures and policies required to support it
                    </p>

                </div>
            </div>
        </div>
    </section>
<br><br><br>
    <!-- Start: .services -->
    <section class="about-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wcu research-features">
                    <div class="row">
                        <div class="col-md-12 section-title text-center">
                            <h2>
                               <b> How Algo8 has helped Manufacturing </b>
                            </h2>
                            <hr>
                            <p>Algo 8 platform and frameworks for manufacturing services</p>
                        </div>
                    </div>
                </div>
                <!-- Ends: .research-features -->
                <div class="col-md-6">
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" href="#">Data Science for leaders </a>
                            <div class="uk-accordion-content">
                                <p>
                                    Change management by enabling decision makers of the company on how data science and AI can open doors for newer opportunities
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Ad8</a>
                            <div class="uk-accordion-content">
                                <p>Advise and help create AI roadmap for the Organization. The roadmap included creation of a data science COE , helping organization in hiring the right talent ,formulation of a data governance office</p>
                            </div>
                        </li>

                        <li>
                            <a class="uk-accordion-title" href="#"> Big Data Readiness and Data Lake Creation</a>
                            <div class="uk-accordion-content">
                                <p>
                                    Create, Conceive and Implement Big Data enterprise solution to store and curate all type of internal and external data on a single platform, which maintains flexibility, security and scalability for any type of data initiative.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Customer Lifecycle Management Analytics</a>
                            <div class="uk-accordion-content">
                                <p>
                                    Creating a 360 degree view of the customer, their profiling, creating a customer story and enabling analytics driven intervention.
                                </p>
                            </div>

                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Machine Learning and Deep Learning aaS</a>
                            <div class="uk-accordion-content">
                                <p> CustomizedAI and Pattern based Learning Solutioning for contextual application in enterprises. Creation, Conception and Development of use cases in highly secure environments for</p>
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Process Analytics use case like anomaly detection in final product quality
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Prediction of lab test result at run time
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Predictive maintenance for generators , and other complex process machines
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> NLP powered Project Management recommendation system
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> AI Powered demand and supply forecast of finished product as well as raw materia
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>

                </div>
                <div class="col-md-6">
                    <iframe height="315" width="100%" src="https://www.youtube.com/embed/k0MpVsTAyWo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <br> <br>
    <div class="highlights">
            <h2 style = "text-align: center">Testimonials</h2>
            <section>
                <div class="row">
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;">FANUC; where a robot makes its own kind</h3>
                    When it comes to large scale manufacturing, paying attention to inventory details right from the conception stage to the delivery stage is critical to earning profits and maintaining the production line afloat.
                    <span id="dots">...</span><hr>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test1">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;">Generative design; a gamechanger in the manufacturing process</h3>
                  To make human life better and safer, researchers and entrepreneurs are working on a variety of innovations across the globe. Many of these ideas may be industry disruptive
                                                      <span id="dots1">...</span><hr>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test2">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                </div>
            </section>
          </div>

<div id="modal-test1" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p>Any mishaps, some of which may be unavoidable, can profoundly upset the chain of command and delay deliveries. Realising this situation, many manufacturing conglomerates and organisations have turned to AI to ensure precise production of items required by a customer with minimal loss and maximum utilisation of raw materials.

                                                        One of the most amazing breakthroughs of this kind would arguably be the FANUC robots in Japan. These robots are so skilled that they can make their own kind in a short duration of time.
                                                        FANUC’s robot uses a technique known as deep reinforcement learning to train itself, over time, how to learn a new task. It tries picking up objects while capturing video footage of the process. Each time it succeeds or fails, it remembers how the object looked, knowledge that is used to refine a deep learning model, or a large neural network, that controls its action. Deep learning has proved to be a powerful approach in pattern recognition over the past few years. This has also helped the robot to make its own kind effortlessly.

                                                        FANUC boss Yoshiharu Inaba says, “In 2015. we launched a human-friendly robot that can carry loads up to 35kg. This will help to reduce the workload of women and the elderly. Applying AI technology will also help to cut down on time-consuming programming of robot behavior, or teaching. This will further promote the use of robots not only for manufacturing but also logistics and food production. Thanks to Prime Minister Shinzo Abe’s thrust towards mechanisation, robots are becoming increasingly common.”

                                                        The manufacturing process will see a lot of change over the next of couple of decades. Surely, robots can act and become human like but can they be humane? Inaba feels that the human element to act as a ‘Grand Overseer’ of sorts will be there to ensure that robotic efficiency is complemented with humane emotional intelligence</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>

<div id="modal-test2" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        
        <p>To make human life better and safer, researchers and entrepreneurs are working on a variety of innovations across the globe. Many of these ideas may be industry disruptive
                                                        ventures. But in the process of this creative brainstorming, how is one supposed to ensure that originality and ingenuity are preserved? Cloud computing, a recent entrant in the world of R&D, aims to solve this dilemma. The manufacturing industry is realising the benefits of simultaneous cloud computing networks that not only leads to bright minds collaborating on a multiplicity of projects but also leads to quicker and faster resolution of crises that impede human progress.

                                                        US based Autodesk is implementing the aforementioned idea to give better output to its clients in a unique manner. Its dependence on Generative Design (GD) has reaped rich dividends. GD works in a simple but effective manner. Designers or engineers input design goals—along with parameters for materials, manufacturing methods and cost constraints—into GD software. The software then explores all the possible permutations of a solution, and quickly “generates” design alternatives. Finally, it leverages machine learning to test and learn from each iteration what works and what doesn’t.

                                                        “With GD, you can effectively rent 50,000 computers in the cloud for an hour at an estimated cost of about $20,000. This means you can do things you never could have done before: You can do 50,000 days of engineering in one day. This is truly epic.”, says Brian Mathews, VP, Platform Engineering at Autodesk in San Rafael, California.

                                                        GD has the potential to be a gamechanger in a plethora of fields such as automotive and aerospace design, consumer goods and architectural designs if implemented in the right spirit by all parties concerned.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




