{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <img src="static/assets/img/logo_banner.svg" width="400px"><br> 
          <h2 style = "font-weight: bold; color: red; display: inline;">E</h2><h3 style = "display: inline;">mpowering</h3> 
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;E</h2><h3 style = "display: inline;">nterprises</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">through</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">pre</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">built</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">and</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">custom</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;A</h2><h3 style = "display: inline;">rtificial</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;I</h2><h3 style = "display: inline;">ntelligence</h3>
          <p style = "font-size: 22px;">We create full data and AI driven tech which is decisive in driving our clients growth</p>
        </div>
        <video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>

      </section>
<br><br><br>
    <section class="intro parallax">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info text-center">
                    <h2>
                        <b>Oil and Natural Gas</b>
                    </h2>
                    <hr>
                    <p>
                        AI powered platform aimed at maximizing margins by 
                        making data driven decision making faster and more 
                        accurate.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-title text-center">
                    <h2>
                        <b>The Overview</b>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-6 col-md-6 service-image text-center" >
                    <figure>
                        <img src="/static/algo_images/oil.jpg" alt="" class="img-fluid" width="350px">
                    </figure>
                </div>
                <div class="col-lg-6 col-md-6 service-desc">
                    <p>
                        The platform aims at providing complete horizontal 
                        and vertical integration of the industry such that 
                        100% traceability for products and processes is 
                        achieved. Proc8 will also provide foresight on key 
                        CTQ KPI and which will not only add to the transparency 
                        but also improve process efficiency.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Start: .services -->
    <br><br><br>
    <section class="about-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wcu research-features">
                    <div class="row">
                        <div class="col-md-12 section-title text-center">
                            <h2>
                                <b>How Oil and Natural Gas helps</b>
                            </h2>
                            <hr>
                        </div>
                    </div>
                </div>
                <!-- Ends: .research-features -->
                <div class="col-md-6">
                    <p>Proc8 offers an innovative solution for the oil and 
                        gas industry not just through its platform and features 
                        but also the minds and expertise involved in designing 
                        and developing it.</p>
                        <p>Proc8 uses its state of art pre-built AI algorithms 
                            which can be customized in minimum time to help 
                            predict/forecast/classify any process outcome in a 
                            variety of units like DCU, Petro-Chemical and other 
                            critical units.</p>
                   
                    <a href="loc8-case-study.html" style="font-weight:500; font-size:20px;">VIEW CASE STUDY</a>
                </div>

                <div class="col-md-6">
                    <img src="/static/algo_images/oil2.jpg" alt="" class="img-fluid" width="350px">
                </div>
            </div>
        </div>
    </section>
    <br><br><br>

    <div class="text-center">
      <h2><b>Product Features</b></h2>
    </div>

<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="text-center">
            <i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
          </div>
          <br>
          <h3><b>Process Engineering + Machine Learning</b></h3>
          <p>
              Proc8 platform is built to address the operational issues such as performance gaps, anomaly detection and operational inefficiencies.
          </p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="text-center">
            <i class="fa fa-server fa-5x" aria-hidden="true"></i>
          </div>
          <br>
          <h3><b>Supports Entire Lifecycle of Data</b></h3>
                    <p>
                        Data Lifecycle refers to different stages that a data/group of data goes through starting from its generation to its archival/deletion
                    </p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="text-center">
            <i class="fa fa-search fa-5x" aria-hidden="true"></i>
          </div>
          <br>
          <h3><b>Supports Entire Lifecycle of Data</b></h3>
                    <p>
                        Data Lifecycle refers to different stages that a data/group of data goes through starting from its generation to its archival/deletion
                    </p>
        </div>
    </div>
</div>

            <!-- Ends: .col-md-3 -->
            <!-- Ends: .col-md-3 -->
            
            <!-- Ends: .col-md-3 -->
    <br> <br>
    <div class="highlights">
            <h2 style = "text-align: center">Testimonials</h2>
            <section>
                <div class="row">
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;"> AI enabled system aims to protect the earth from asteroid attack </h3>
                   Outer space is a curious entity in itself. While it presents planets that are similar to earth and potentially habitable, in its darkest depths lie entities that can cause catastrophic
                    <span id="dots">...</span>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test1">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;">Generative design; a gamechanger in the manufacturing process</h3>
                  To make human life better and safer, researchers and entrepreneurs are working on a variety of innovations across the globe. Many of these ideas may be industry disruptive
                                                      <span id="dots1">...</span>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test2">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                </div>
            </section>
          </div>

<div id="modal-test1" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p>Outer space is a curious entity in itself. While it presents planets that are similar to earth and potentially habitable, in its darkest depths lie entities that can cause catastrophic

                                                        One of the most amazing breakthroughs of this kind would arguably be the FANUC robots in Japan. These robots are so skilled that they can make their own kind in a short duration of time.
                                                        FANUC’s robot uses a technique known as deep reinforcement learning to train itself, over time, how to learn a new task. It tries picking up objects while capturing video footage of the process. Each time it succeeds or fails, it remembers how the object looked, knowledge that is used to refine a deep learning model, or a large neural network, that controls its action. Deep learning has proved to be a powerful approach in pattern recognition over the past few years. This has also helped the robot to make its own kind effortlessly.

                                                        FANUC boss Yoshiharu Inaba says, “In 2015. we launched a human-friendly robot that can carry loads up to 35kg. This will help to reduce the workload of women and the elderly. Applying AI technology will also help to cut down on time-consuming programming of robot behavior, or teaching. This will further promote the use of robots not only for manufacturing but also logistics and food production. Thanks to Prime Minister Shinzo Abe’s thrust towards mechanisation, robots are becoming increasingly common.”

                                                        The manufacturing process will see a lot of change over the next of couple of decades. Surely, robots can act and become human like but can they be humane? Inaba feels that the human element to act as a ‘Grand Overseer’ of sorts will be there to ensure that robotic efficiency is complemented with humane emotional intelligence</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>

<div id="modal-test2" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        
        <p>To make human life better and safer, researchers and entrepreneurs are working on a variety of innovations across the globe. Many of these ideas may be industry disruptive
                                                        ventures. But in the process of this creative brainstorming, how is one supposed to ensure that originality and ingenuity are preserved? Cloud computing, a recent entrant in the world of R&D, aims to solve this dilemma. The manufacturing industry is realising the benefits of simultaneous cloud computing networks that not only leads to bright minds collaborating on a multiplicity of projects but also leads to quicker and faster resolution of crises that impede human progress.

                                                        US based Autodesk is implementing the aforementioned idea to give better output to its clients in a unique manner. Its dependence on Generative Design (GD) has reaped rich dividends. GD works in a simple but effective manner. Designers or engineers input design goals—along with parameters for materials, manufacturing methods and cost constraints—into GD software. The software then explores all the possible permutations of a solution, and quickly “generates” design alternatives. Finally, it leverages machine learning to test and learn from each iteration what works and what doesn’t.

                                                        “With GD, you can effectively rent 50,000 computers in the cloud for an hour at an estimated cost of about $20,000. This means you can do things you never could have done before: You can do 50,000 days of engineering in one day. This is truly epic.”, says Brian Mathews, VP, Platform Engineering at Autodesk in San Rafael, California.

                                                        GD has the potential to be a gamechanger in a plethora of fields such as automotive and aerospace design, consumer goods and architectural designs if implemented in the right spirit by all parties concerned.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




