{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <img src="static/assets/img/logo_banner.svg" width="400px"><br> 
          <h2 style = "font-weight: bold; color: red; display: inline;">E</h2><h3 style = "display: inline;">mpowering</h3> 
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;E</h2><h3 style = "display: inline;">nterprises</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">through</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">pre</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">built</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">and</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">custom</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;A</h2><h3 style = "display: inline;">rtificial</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;I</h2><h3 style = "display: inline;">ntelligence</h3>
          <p style = "font-size: 22px;">We create full data and AI driven tech which is decisive in driving our clients growth</p>
        </div>
        <video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>

      </section>
<br><br><br>
    <section class="intro opini8">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info text-center">
                    <h2>
                       <b> Opini8 SaaS </b>
                    </h2>
                    <hr>
                    <p>
                        An end-to-end Social media Analytics Pipeline which gives unbelievable insights from unstructured data with the help of Natural language processing.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-title text-center">
                    <h2>
                        <b>The Overview</b>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-6 col-md-12 service-image">
                    <figure>
                        <img src="/statics/algo_images/opini8.png" alt="" class="img-fluid">
                    </figure>
                </div>
                <div class="col-lg-6 col-md-12 service-desc">
                    <p>
                        Amidst social media noise, where x amount of data is created and put out every second, the biggest challenge was to stand out from the clutter and to reach the right people. The biggest questions were :
                    </p>
                    <p>
                        How to reach the target audience? <br />

                        What content should be promoted ? <br />

                        At what time should the content be put out there so that it reaches the maximum number of the people.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wcu research-features">
                    <div class="row">
                        <div class="col-md-12 section-title text-center">
                            <h2>
                                <b>HOW OPINI8 HELPS</b>
                            </h2>
                            <hr>
                            <p>Opini8 is an An End-to-End Analytics Pipeline For Social and Print Media which Analyses gross public sentiment on social media platforms.</p>
                        </div>
                    </div>
                </div>
                <!-- Ends: .research-features -->
                <div class="col-md-6">
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" href="#">EXPLORING AUDIENCE OPINION </a>
                            <div class="uk-accordion-content">
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Intent analysis of social media content
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Explore key audiences/ influencers
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Identify and evaluate Mass opinion
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Digital Campaign management
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">PRE-RELEASE ANALYTICS </a>
                            <div class="uk-accordion-content">
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Know your revenue from digital engagements
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Optimize your Product Launch date
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Marketing Insights
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">INTELLIGENT FORECAST MACHINE </a>
                            <div class="uk-accordion-content">
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Expenses vs Investment forecast
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Get to know: Ways to Higher ROI(Insights)
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Optimize and Channelize Marketing efforts
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Trend Analysis</a>
                            <div class="uk-accordion-content">
                                <p>Understanding demand helps to get better ROI with mood of audience, in genre, cast and other things.</p>
                            </div>
                        </li>

                        <li>
                            <a class="uk-accordion-title" href="#">Forecast Business Targets</a>
                            <div class="uk-accordion-content">
                                <p>This is basic need of all movie makers to know what they are going to earn. </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Targeted Campaign</a>
                            <div class="uk-accordion-content">
                                <p>
                                    Setting up right campaign to right audience with successful engagement, with budget isn’t anymore challenge.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <a href="opini8-case-study.html" style="font-weight:500; font-size:20px; line-height:50px;">VIEW CASE STUDY</a>
                </div>
                <div class="col-md-6">
                    <iframe height="315" width="100%" src="https://www.youtube.com/embed/k0MpVsTAyWo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

        <br><br><br>

    <div class="text-center">
      <h2><b>Product Features</b></h2>
    </div>

<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="text-center">
            <i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
          </div>
          <br>
          <h3><b>Intent & Sentiment Analysis</b></h3>
          <p>
             Subjective view of a person or an organization to a particular topic Predicting & Forecasting the impact.
          </p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="text-center">
            <i class="fa fa-server fa-5x" aria-hidden="true"></i>
          </div>
          <br>
          <h3><b>Entity analysis</b></h3>
                    <p>
                        People, Organizations, Objects, Events and the relationships between them.
                    </p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="text-center">
            <i class="fa fa-search fa-5x" aria-hidden="true"></i>
          </div>
          <br>
          <h3><b> Feature Analysis</b></h3>
                    <p>
                        Inherent characteristics that are
                        significant for a particular
                        analytical perspective (e.g. land
                        coverage in satellite imagery)
                    </p>
        </div>
    </div>
</div>

            <!-- Ends: .col-md-3 -->
            <!-- Ends: .col-md-3 -->
            
            <!-- Ends: .col-md-3 -->
    <br> <br>
 
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




