{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
<div class="uk-height-medium  uk-flex-middle uk-background-cover uk-light" 
data-src="/static/algo_images/bank_case.jpg" uk-img style="color: black;">
          
</div>
<br><br><br>
    <section class="intro opini8-case">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info">
                    <h2></h2>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-12">
                    <div class="blog-details">
                        <div class="blog-contents noselect">
                            <h2 class="blog-title">
                                Business Challenge
                            </h2>
                            <p>
                                The client wanted a method through which they could market their product, capture audience sentiment in real time and then simultaneously respond to queries or doubts that emerged from these responses. Conventional manual marketing process was a time consuming and costly affair. The client’s interest to feel the pulse of the public was a challenge that could be solved through incorporation of Data Mining (DM) and Machine Learning (ML). Algo8’s Opini8 became the go-to point for the client.
                            </p>
                            <h2 class="blog-title">
                                Transformation
                            </h2>
                            <p>
                                ML, DM and Natural Language Processing (NLP) techniques are leading the long awaited and much needed change in the Movies business. Opini8 uses social media to make pre-release and post release strategy for movies targeted communication. This in turn ensures that the client can be in sync with its client’s thought process at nearly all times and generate appropriate responses or solutions to any issues or queries.
                            </p>
                            <h2 class="blog-title">
                                Results
                            </h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        A manual marketing process which lasted almost 2 months could be achieved in real time through Opini8.
                                    </div>
                                    <div class="col-sm">
                                        Ideal locations for promotions were predicted with 95% accuracy
                                    </div>
                                    <div class="col-sm">
                                        Every single comment and retweet about the movie was captured and the brand sentiment analysis was published on a real time basis
                                    </div>
                                </div>
                            </div>
                            <h2 class="blog-title">
                                Business challenge story <br />
                                <span>Solving big business challenges</span>
                            </h2>
                            <blockquote>
                                <span class="icon-speech"></span> “Impactful insights which are counter intuitive.”-Vivek Rangachari ,Director, DAR Media Pvt. Ltd
                            </blockquote>
                            <p>
                                The producers of the film wanted a method through which they could effectively market their film to audiences on electronic and print platforms. The presentation of content that would be alluring and yet understandable at the same time was a challenge.
                            </p>
                            <p>
                                At a time when the ‘Comedy-drama’ genre is being talked about the world over, presenting its subtleties on the big screen was a challenge the producers faced. More than that, ensuring that the potential target audience would be captivated from the release of the trailer to the film screening too was a considerable task. This is when the producers thought of incorporating ‘Sentiment Analysis’ into their marketing strategy.
                            </p>
                            <p>The producers felt that more than just putting up posters and releasing videos online, grasping the pulse of the audience was crucial since such a step would help the film grab eyeballs and ensure a bumper revenue. In this context, understanding the psyche and tastes of the audience, what they expected from the star cast and directors and in which way or frame they wished for the movie to go forward became significant points of concern. </p>
                            <p>The producer’s decision to tie-up with Algo8 to understand ‘Sentiments’ of the audience marked a unique departure from conventional forms of attracting cinema-goers. Though it was a daunting task in the end it did yield interesting results. </p>
                            <h2 class="blog-title">
                                Transformation story <br />
                                <span>Harnessing the power of Opini8</span>
                            </h2>
                            <blockquote>
                                <span class="icon-speech"></span> “Data is now helping us be more creative with our communication through Opini8”-Vivek Rangachari ,Director, DAR Media Pvt. Ltd
                            </blockquote>
                            <p>
                                Algo8’s Opini8 works on NLP, DM and ML & does the contextual opinion mining and sentiment evaluation for predicting the trends and demography of the audience. By understanding key words, phrases and mood of the users who comment on social media or entertainment news portals, Opini8 tries to understand the expectation of the target group and communicate it to the makers of the project.
                            </p>
                            <p>
                                The producers of Bucket List wanted to experiment with something radical and different to ensure that their marketing campaign would reach all sections of society and enthrall cinema aficionados enough that they’d be compelled to buy a ticket. In this context, understanding their sentiments and channelising it through a platform that was in sync with their aspirations became critical to the movie’s success. This task was accomplished successfully by Opini8.
                            </p>
                            <p>
                                The producers, by investing their time in Opini8, were in tune with their audience which ultimately resulted in the movie performing well at the box office and earning praise from film critics. The film’s experimental theme and audience’s hopes from it was also well- evaluated and communicated to the producers thanks to Opini8.
                            </p>
                            <h2 class="blog-title">
                                Results story <br />
                                <span>Transforming data into real results</span>
                            </h2>
                            <p>
                                The producer’s wish to understand their audience’s mindset in real time was a challenge that Opini8 solved. The preparedness towards the social media interactions and channelizing their marketing efforts had been automated with near real time responses.
                            </p>
                            <p>
                                The brand sentiment management for the movie as a product became easier than ever. This meant that not only was the movie successful in generating interest amongst its intended target audience, it was also successful in ensuring that their interest translated into the earnest desire to watch the movie. Opini8 became a game changer in this context.
                            </p>
                            <p>
                                Ideal locations for promotions were predicted with 95% accuracy. More importantly, manual marketing process which lasted almost 2 months could be achieved in real time now through Opini8.
                            </p>
                            <p>
                                The producer’s decision to invest in Opini8 also reflected the film industry’s desire to be more tech-savvy with the stated aim of retaining film lovers.
                            </p>
                            <h2 class="blog-title">
                                About CLIENT - Bucket List
                            </h2>
                            <p>
                                Directed by Tejas Prabha Vijay Deoskar, "Bucket List" has been produced by DAR Motion Pictures, Dark Horse Cinemas and Blue Mustang Creations and  stars Madhuri Dixit in her Marathi debut, along with Renuka Shahane and Sumeet Raghavan. Though Bucket List starts off with Dixit playing the ideal housewife whose day starts and ends with making her family happy, she realises that she has lost her individual identity and then begins her journey of self-realisation.
                            </p>
                            <h2 class="blog-title">
                                Relevant Solution components
                            </h2>
                            <ul>

                                <li>Opini8</li>
                            </ul>
                            <h2 class="blog-title">
                                Take the next step
                            </h2>
                            <p>
                                Algo8 builds potent data driven tech that is decisive in driving our client’s growth.
                                Learn how Opini8 can help you
                            </p>
                        </div>
                        <!-- Ends: .blog-contents -->
                    </div>
                    <!-- Ends: .blog-details -->
                </div>
                <!-- Ends: .col-lg-8 -->
            </div>
        </div>
        <!-- Ends: .contianer -->
    </section>
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




