{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />

<style>
         
  .sidenav1 {
  height: 50%;
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px
}

.sidenav1 a {

  text-decoration: none;
  font-size: 25px;
  color: #818181;

}

.sidenav1 a:hover {
  color: #f1f1f1;
}



@media screen and (max-height: 450px) {
  .sidenav1 {padding-top: 15px;}
  .sidenav1 a1 {font-size: 18px;}
}
         
</style>
    
{%endblock%}
{% block body %}
    
    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <img src="static/assets/img/logo_banner.svg" width="400px"><br> 
          <h2 style = "font-weight: bold; color: red; display: inline;">E</h2><h3 style = "display: inline;">mpowering</h3> 
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;E</h2><h3 style = "display: inline;">nterprises</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">through</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">pre</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">built</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">and</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">custom</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;A</h2><h3 style = "display: inline;">rtificial</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;I</h2><h3 style = "display: inline;">ntelligence</h3>
          <p style = "font-size: 22px;">We create full data and AI driven tech which is decisive in driving our clients growth</p>
        </div>
        <video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>

      </section>

    <!-- Highlights -->
      
     
<nav class="uk-navbar-container" uk-navbar uk-sticky style="background-color: black;">
      
    <div class="uk-navbar-center">

        <ul class="uk-navbar-nav">
            <li><a href="/loc8">LOC8</a></li>
            <li><a href="/opini8">OPINI8</a></li>
            <li><a href="https://Power8.io">POWER8</a></li>
            <li><a href="/vision8">VISION8</a></li>
            <li><a href="https://theikigailab.com">THE IKIGAI LAB</a></li>
        </ul>

    </div>
</nav>
    <div class="highlights">
    <section>
        <div class="w3-card-8 content">
            <div class="row">
                <div class="col-md-12 section-title">
                    <h2><b>
                        LOC8
                    </b></h2>
                </div>
                <div class="col-lg-6 col-md-12 service-image">
                    <figure>
                        <img src="/static/algo_images/loc8.png" alt="" class="img-fluid" width="400px">
                    </figure>
                </div>
                <div class="col-lg-6 col-md-12 service-desc">
                    <p>
                        Loc8 is a location intelligence tool which uses external catchment data as a context to look at the performance of any business. Through more than a thousand geodemographic data features and powerful machine learning, external catchment data is combined with internal transactional data to give optimal insights to the business. This tool can be used to efficiently identify locations for new outlets as well as for evaluating the performance of the existing ones.
                    </p>
                    <br>
                    <div class="text-center">
                      <a href="#" class="btn btn-primary">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start: .services -->
   
   <section>
        <div class="w3-card-8 content">
            <div class="row">
                <div class="col-md-12 section-title">
                    <h2><b>
                        OPINI8
                    </b></h2>
                </div>
                
                <div class="col-lg-6 col-md-12 service-desc">
                    <p>
                        Amidst social media noise, where x amount of data is created and put out every second, the biggest challenge was to stand out from the clutter and to reach the right people. The biggest questions were :
                    </p>
                    <p>
                        How to reach the target audience? <br />

                        What content should be promoted ? <br />

                        At what time should the content be put out there so that it reaches the maximum number of the people.
                    </p>
                    <br>
                    <div class="text-center">
                      <a href="#" class="btn btn-primary">Know More</a>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12 service-image">
                    <figure>
                        <img src="/static/algo_images/opini8.png" alt="" class="img-fluid" width="400px">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    
    
    <section>
        <div class="w3-card-8 content">
            <div class="row">
                <div class="col-md-12 section-title">
                    <h2><b>
                        POWER8
                    </b></h2>
                </div>
                <div class="col-lg-6 col-md-12 service-image">
                    <figure>
                        <img src="/static/algo_images/power8.jpg" alt="" class="img-fluid" width="400px">
                    </figure>
                </div>
                <div class="col-lg-6 col-md-12 service-desc">
                    <p>
                        Our product POWER8 contains a mesh of sensors attached at different places communicating OTA connected via Internet. We help big commercial facilities reduce their power consumption by 25% leveraging the power of sensors and artificial intelligence.
                    </p>
                    <h4> Features </h4>
                    <p>
                        REAL TIME MONITORING <br />

                        AUTOMATE FACILITY <br />

                        DASHBOARDS
                    </p>
                    <br>
                    <div class="text-center">
                      <a href="#" class="btn btn-primary">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
     <section>
        <div class="w3-card-8 content">
            <div class="row">
                <div class="col-md-12 section-title">
                    <h2><b>
                        VISION 8
                    </b></h2>
                </div>
                
                <div class="col-lg-6 col-md-12 service-desc">
                    <p>
                         A computer vision intelligence tool which can solve your all any computer vision problem and drive the success of your business in every possible manner.
                    </p>
                    <br>
                    <div class="text-center">
                      <a href="#" class="btn btn-primary">Know More</a>
                    </div>
                  
                </div>
                <div class="col-lg-6 col-md-12 service-image">
                    <figure>
                        <img src="/static/algo_images/vision8-card.jpg" alt="" class="img-fluid" width="400px">
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="w3-card-8 content">
            <div class="row">
                <div class="col-md-12 section-title">
                    <h2><b>
                        THE IKIGAI LAB
                    </b></h2>
                </div>

                <div class="col-lg-6 col-md-12 service-image">
                    <figure>
                        <img src="/static/algo_images/ikigai_logo.png" alt="" class="img-fluid" width="400px">
                    </figure>
                </div>
                
                <div class="col-lg-6 col-md-12 service-desc">
                    <p>
                         The Ikigai Lab was found with the mission of getting Artificial Intelligence & Data Science into the real world. More specifically into our part of the world – India.
                    </p>
                    <br>
                    <div class="text-center">
                      <a href="https://theikigailab.com/" class="btn btn-primary">Know More</a>
                    </div>
                  
                </div>
            </div>
        </div>
    </section>
  
    
    
   
   
    <!-- Starts: Call To Action -->
    <section>
        <div class="w3-card-8 content" style="background-image:url('/static/algo_images/prebuildai.jpg');">
            <div class="row">
                <div class="col-md-12 cta-contents">
                    <h2><b style="color: white;">Explore the power of AI </b></h2>
                    <a class="uk-button uk-button-default" href="#" style="background-color: white;">Schdule a demo</a>
                </div>
            </div>
        </div>
   </section>
</div>
    <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>

{% endblock %}