{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
<div class="uk-height-medium  uk-flex-middle uk-background-cover uk-light" 
data-src="/static/algo_images/bank_case.jpg" uk-img style="color: black;">
          
</div>
<br><br><br>
     <section class="intro telecom" style="height: 410px;">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info">
                    <h2>
                         Retail Use Cases
                    </h2>
                 

                </div>
            </div>
        </div>
    </section>    <section class="blog-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-12">
                    <div class="blog-details">
                        <div class="blog-contents noselect">
                            <h2 class="blog-title">
                               What was the issue ?
                            </h2>
                            <p>
                                Future Group, India's leading retailer, were looking at opening 500 new stores across the country to fight  the influence of Online retailing by personalizing the experience of
Hyperlocal.

                            </p>
                            <h2 class="blog-title">
                                How did we do it ?
                            </h2>
                            <p>
                                Algo8's location intelligence tool, Loc8 helped the retailer bring external catchment
data as a context to look at store performance. Through more than a thousand
geodemographic data features and powerful machine learning, external catchment data was combined with internal transactional data to give optimal insights to the
retailer.
                            </p>
                            <h2 class="blog-title">
                                How did it make a difference ?
                            </h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        1. Client saved 9% in the
first quarter of
Implementation Itself
just by Loc8's Predictive
Inventory Analysis.
                                    </div>
                                    <div class="col-sm">
                                        2. 2000 new store
locations were
predicted
across Delhi
in 2 months time.
                                    </div>
                                    <div class="col-sm">
                                        3. Overall revenue and
profits increased
significantly through
Loc8's Dynamic Assortment of Goods.
                                    </div>
                                </div>
                            </div>
                          
                          
                          
                        </div>
                        <!-- Ends: .blog-contents -->
                    </div>
                    <!-- Ends: .blog-details -->
                </div>
                <!-- Ends: .col-lg-8 -->
            </div>
        </div>
        <!-- Ends: .contianer -->
    </section>
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




