{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <img src="static/assets/img/logo_banner.svg" width="400px"><br> 
          <h2 style = "font-weight: bold; color: red; display: inline;">E</h2><h3 style = "display: inline;">mpowering</h3> 
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;E</h2><h3 style = "display: inline;">nterprises</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">through</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">pre</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">built</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">and</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">custom</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;A</h2><h3 style = "display: inline;">rtificial</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;I</h2><h3 style = "display: inline;">ntelligence</h3>
          <p style = "font-size: 22px;">We create full data and AI driven tech which is decisive in driving our clients growth</p>
        </div>
        <video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>

      </section>
<br><br><br>
       <section class="intro retail">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info text-center">
                    <h2>
                       <b> Retail </b>
                    </h2>
                    <p>
                        Having worked with big retailers, we discovered that majority data about their consumers sits outside their databases . Answer to e-commerce retail is hyper-local retail.  We also help retailers capture newer data points about their customers which are beyond their transactional world view and frame of reference.
                    </p>

                </div>
            </div>
        </div>
    </section>

    <!-- Start: .services -->
    <section class="about-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wcu research-features">
                    <div class="row">
                        <div class="col-md-12 section-title text-center">
                            <h2>
                                <b>How Algo8 has helped Retailers</b>
                            </h2>
                            <p>Algo8 platform and frameworks for retailers enable them in</p>
                        </div>
                    </div>
                </div>
                <!-- Ends: .research-features -->
                <div class="col-md-6">
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" href="#">Big Data Readiness and Data Lake Creation </a>
                            <div class="uk-accordion-content">
                                <p>
                                    Create, Conceive and Implement Big Data enterprise solution to store and curate all type of internal and external data on a single platform, which maintains flexibility, security and scalability for any type of data initiative.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Customer Lifecycle Management Analytics</a>
                            <div class="uk-accordion-content">
                                <p>
                                    Creating a 360 degree view of the customer, their profiling, creating a customer story and enabling analytics driven intervation.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a class="uk-accordion-title" href="#">Machine Learning and Deep Learning aaS</a>
                            <div class="uk-accordion-content">
                                <p>
                                    Customised AI and Pattern based learning Solution for contextual application in enterprises.
                                    Creation, Conception and Development of use cases in highly secure environments for
                                </p>
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Profiling the store catchment area through customer information
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Sub Distribution of Internal Sales on External Data to create Archetypes
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Prescribe Store Locations as per the above
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Predict Inventory and Assortment
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Customised Promotions for all customers
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Loc8 for Retailers</a>
                            <div class="uk-accordion-content">
                                <p>
                                    An AI driven smart and easy location intelligence tool with advanced machine learning powered geospatial analysis to contextualise external data for decision making.

                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Opini8 for Retailers</a>
                            <div class="uk-accordion-content">
                                <p>
                                    An NLP based brand perception tool, which collates all social chatter about a retailer and its
                                    competitors from channels like mail, social media, news etc. Opini8 also enables customer support through NLP.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <a href="retail-case-study.html" style="font-weight:500; font-size:20px;">VIEW CASE STUDY</a>
                </div>
                <div class="col-md-6">
                    <iframe height="315" width="100%" src="https://www.youtube.com/embed/k0MpVsTAyWo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <br> <br>
    <div class="highlights">
            <h2 style = "text-align: center">Testimonials</h2>
            <section>
                <div class="row">
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;">  AI and retail go hand in hand</h3>
                    Ensuring that a customer gets exactly what he/she has selected and wished for is at the core of the retail industry. However, understanding consumer choices is a time consuming and laborious affair.
                    <span id="dots">...</span>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test1">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;">Ali Baba and AI revolutionise retail</h3>
                 AI presents endless opportunities to make business more meaningful and engaging across the chain of command. Perhaps, one of the major drawbacks of the AI system is its inability to fully and emotively grasp 
                                                      <span id="dots1">...</span>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test2">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                </div>
            </section>
          </div>

<div id="modal-test1" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p>Ensuring that a customer gets exactly what he/she has selected and wished for is at the core of the retail industry. However, understanding consumer choices is a time consuming and laborious affair.

                                                      With the coming of AI, retail companies across the world are using machine learning and data science to understand the pulse of their clients and ensure that their satisfaction is nothing short of excellent.

                                                        Take the case of US based cosmetic brand Olay. Its intelligent Skin Advisor Platform, boosted sales globally with China witnessing an increase in basket size of almost 40%. The AI-powered platform offers users skin-age estimates and makes recommendations for skincare based on selfies. Olay partnered with content matching and data machine organisation, Nara Logics to develop this platform. Jana Eggers, CEO, Nara Logics adds that the system takes into consideration a host of factors to give customers a customised product. She remarks, “For Olay, the algorithm accommodates two requirements: First, rules track individual product features and ingredients, to ensure they’re matched to customers’ focus areas and complement each other when offered in suites. Second, it gauges what products are popular, from reviews, transactions and other sources.”

                                                        Such a platform has helped Olay become a leader of sorts in the personal beauty category. 94 percent of users have received recommendations unique to them — meaning no one else has received the same recommendation. Apart from easing pressure on Olay’s employees to entertain almost limitless queries regarding beauty and makeup from enthusiastic customers, such a platform has boosted sales and production of Olay’s products worldwide. Other companies too are adopting similar mechanisms to boost their profits.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>

<div id="modal-test2" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p>AI presents endless opportunities to make business more meaningful and engaging across the chain of command. Perhaps, one of the major drawbacks of the AI system is its inability to fully and emotively grasp 
                                                       human responses and act accordingly. This  is where Chinese e-commerce giant Alibaba has tried to make a difference. Thanks to the Chinese Govt. and  the general public, who’ve not shied away from embracing technology and participating in data driven ventures, Alibaba has been making steady process in redefining how retailing is done. Take its Single’s Day Celebrations Inventory Distribution system.

                                                        From deploying AI algorithms that understand customer requirements and communicate the same to retailers in real time to incorporating a robot workforce that can process 1 million shipments each day, Alibaba has made crucial changes to its distribution system. Interestingly, its chatbot ‘Dian Xiaomi’ or ‘Store Assistant’ has been upgraded to such an extent that it can simultaneously respond to the queries of 3.5 million people each day and even transfer a customer’s queries to a human advisory agent in case it itself isn’t able to address the situation in an appropriate manner. Alibaba's founder Jack Ma remarks that, "30 years later, the Time Magazine cover for the best CEO of the year very likely will be a robot. It remembers better than you, it counts faster than you, and it won’t be angry with competitors."

                                                        Alibaba’s achievements are symbolic of the depth that AI has ingrained itself into the workforce. Despite such a deep integration, Alibaba is careful about not upsetting its human employees or firing them needlessly but then again is trying to maintain profitability with technical efficiency and productivity. Such a careful balance is needed to ensure that the human element is not completely absent from the work scenario.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




