{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dimension</title>
    <link rel="shortcut icon" href="/static/img/dim.png" />

    <!-- Bootstrap core CSS -->
    <!-- <link href="/static/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->

    <!-- Custom fonts for this template -->
    <!-- <link href="/static/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'> -->

    <!-- Custom styles for this template -->
    <!-- <link href="/static/assets/css/agency.css' %}" rel="stylesheet">
    <link href="/static/assets/css/agency.min.css' %}" rel="stylesheet"> -->
{%endblock%}

{% block body %}
<!-- Team -->
    <section>
    <div class = "container w3-padding-64 w3-container w3-center " style = "padding-right:20px">
      <div class="container">
        <h2>Our Amazing Team</h2> <br><br>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="/static/algo_images/t1.jpg" alt="" style="width: 180px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Nandan Mishra</h4>
              <h4 style = "margin: 10px;" class="text-muted">Co-Founder, CEO</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/nandan.mishra.750983/friends">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/nandan-mishra/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="/static/algo_images/t4.jpg" alt="" style="width: 190px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Nishish Jha</h4>
              <h4 style = "margin: 10px;" class="text-muted">Chairman</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/nishish.jha">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/nishishjha/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3"></div>
        </div>



        <br>
        <div class="row">

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="/static/algo_images/t2.jpg" alt="" style="width: 180px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Himanshu Ujjawal Singh</h4>
              <h4 style = "margin: 10px;" class="text-muted">Co-Founder, CTO</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/hujjawal">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/himanshu-ujjawal-singh-47933923/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="/static/algo_images/T6.JPG" alt=""style="width: 180px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Saurabh Gupta</h4>
              <h4 style = "margin: 10px;" class="text-muted">Chief Data Scientist</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/imsaustar">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/saurabhg01/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="/static/algo_images/t3.jpg" alt=""style="width: 180px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Rohit Singh</h4>
              <h4 style = "margin: 10px;" class="text-muted">VP Operations</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/rishi.sing">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/rohitsingh1106/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="/static/algo_images/abhinav.jpg" alt="" style="width: 150px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Abhinav Saxena</h4>
              <h4 style = "margin: 10px;" class="text-muted">VP, IIoT, R&D Edge</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/abhinav.saksena.92">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/abhinavsaksena24/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="/static/algo_images/t15.JPG" alt="" style="width: 150px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Sudhir Singh Nayak</h4>
              <h4 style = "margin: 10px;" class="text-muted">Advisor - L & D</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/sudhir.singh.nayak">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/nayaksudhir/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="/static/algo_images/rahul.jpeg" alt="" style="width: 150px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Rahul Pandey</h4>
              <h4 style = "margin: 10px;" class="text-muted">Business Development Lead</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/rahulpandey7373">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/rahulpandey73/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          
        </div>


        <div class="row">

          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="/static/algo_images/dhiraj.jpeg" alt="" style="width: 150px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Dhiraj Gridhar</h4>
              <h4 style = "margin: 10px;" class="text-muted">Advisor</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/dhirajgirdhar/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="/static/algo_images/default-avatar.png" alt="" style="width: 150px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Prabhakar Srivastava</h4>
              <h4 style = "margin: 10px;" class="text-muted">Advisor</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="#"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/nayaksudhir/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="/static/algo_images/team/somu.jpeg" alt="" style="width: 150px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Somu</h4>
              <h4 style = "margin: 10px;" class="text-muted">Advisor</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="/static/algo_images/default-avatar.png" alt="" style="width: 150px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Ashu Aggrawal</h4>
              <h4 style = "margin: 10px;" class="text-muted">Advisor</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          
        </div>
		
      </div>
    </div>
    </section>
{% endblock %}