{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
<div class="uk-height-medium  uk-flex-middle uk-background-cover uk-light" 
data-src="/static/algo_images/Telecom.jpg" uk-img>
</div>
<br><br><br>
            <section class="intro telecom">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info text-center">
                    <h2>
                       <b> Telecom</b>
                    </h2>
                    <hr>
                    <p>
                        Having worked with big telecom companies, we understand the immense value, pattern based analytics powered by Machine Learning adds to telecom services. We also help them capture newer data points about their customers which are beyond their transactional world view and frame of reference.
                    </p>

                </div>
            </div>
        </div>
    </section>

    <!-- Start: .services -->
    <section class="about-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wcu research-features">
                    <div class="row">
                        <div class="col-md-12 section-title text-center">
                            <h2>
                                <b>How Algo8 has helped Telecom</b>
                            </h2>
                            <hr>
                            <p>Algo 8 platform and frameworks for Telecom services enable them in </p>
                        </div>
                    </div>
                </div>
                <!-- Ends: .research-features -->
                <div class="col-md-6">
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" href="#">Big Data Readiness and Data Lake Creation </a>
                            <div class="uk-accordion-content">
                                <p>
                                    Create, Conceive and Implement Big Data enterprise solution to store and curate all type of internal and external data on a single platform, which maintains flexibility, security and scalability for any type of data initiative.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Customer Lifecycle Management Analytics</a>
                            <div class="uk-accordion-content">
                                <p>Creating a 360 degree view of the customer, their profiling, creating a customer story and enabling analytics driven intervention</p>
                            </div>
                        </li>

                        <li>
                            <a class="uk-accordion-title" href="#">Machine Learning and Deep Learning aaS</a>
                            <div class="uk-accordion-content">
                                <p>CustomizedAI and Pattern based Learning Solutioning for contextual application in enterprises. Creation, Conception and Development of use cases in highly secure environmentsfor</p>
                                <h3>
                                    Customers
                                </h3>

                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Subscriber churn prediction
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Customer Targeting as a Service (CTaaS)

                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Customer Experience Index
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Browsing Behavior based Subscriber Segmentation
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Customer Data Adaptation analysis
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Enhanced Customer Support Using NLP
                                    </li>

                                </ul>
                                <h3>
                                    Network
                                </h3>
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Fault Prediction and Predictive maintainence
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Congestion Detection
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Demand Forecasting
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Content Classification
                                    </li>
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Service Assurance
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Opini8 for Telecom</a>
                            <div class="uk-accordion-content">
                                <p>
                                    An NLP based brand perception tool, which collates all social chatter about a telecom and its competitors from channels like mail, social media,news,etc. Opini8 also enables customer support through NLP.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <a href="telecom-case-study.html" style="font-weight:500; font-size:20px;">VIEW CASE STUDY</a>
                </div>
                <div class="col-md-6">
                    <iframe height="315" width="100%" src="https://www.youtube.com/embed/k0MpVsTAyWo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <br> <br>
    <div class="highlights">
            <h2 style = "text-align: center">Testimonials</h2>
            <section>
                <div class="row">
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;">AI brings better clarity to the telecom sector</h3>
                    A strong and dependable cellular networking system is an extremely crucial part of one’s life and with the advent of 4G, 5G and the soon to be launched 6G, this field holds a lot of promise over how communications
                    <span id="dots">...</span><hr>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test1">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                    <div class="col-md-6">
              <div class="w3-card-8 content">
                <header>
                  <h3 style = "font-weight: bold;">AI helps ensure disruption free broadband connectivity</h3>
                  It’s been rightly said that data is the new oil and mining it in the right quantity at the right time and at the right place is key to maximum profitability for any company. Such a precedence holds more weight for the
                                                      <span id="dots1">...</span><hr>
                    <h5 style = "font-weight: bold;"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-test2">Read More</button></h5>

                </header>
                <p></p>
              </div>
                    </div>
                </div>
            </section>
          </div>

<div id="modal-test1" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p>A strong and dependable cellular networking system is an extremely crucial part of one’s life and with the advent of 4G, 5G and the soon to be launched 6G, this field holds a lot of promise over how communications

                                                        in the telecom sector will evolve over a period of time.  The role of AI and data science in this regard cannot be underestimated. Interestingly, telecom companies world over have taken note of AI’s tremendous disruptive sector and have invested good money and resources to harness this technology to make their business more sound.

                                                        UK based telecom giant Vodafone for instance has come up with a host of features that aim to integrate AI into its voice calling and internet facilities. Their proudest moment would arguably be the launch of TOBi- the first live chatbot in the UK telecom industry. Tobi is powered by IBM Watson and also integrated with Facebook Messenger, but now 'his' role has been expanded to answer account-specific questions on subjects like roaming.

                                                        Another noteworthy achievement of Vodafone is the incorporation of voice biometrics authentication. This will enable customers to use their own voice to authenticate and access their account. Vodafone plans to be link this with artificial intelligence to support self-service too, meaning the customer gets a smooth experience – all from the power of their voice.

                                                        Vodafone’s Chief Operating Officer and director of customer service, Neil Blagden, remarks, “The continuing operational shift from the firm was designed not only to ensure ‘Seamless’ customer experiences but also to help it attract talent and set an industry benchmark for how things should be done.”

                                                        Other telecom companies seem to be treading a similar path with relatively similar results. Utilising the power of AI to bolster consumer satisfaction and participation in data mining exercise would be the winning factor in this endeavor.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>

<div id="modal-test2" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        
        <p>It’s been rightly said that data is the new oil and mining it in the right quantity at the right time and at the right place is key to maximum profitability for any company. Such a precedence holds more weight for the
        telecom sector. Given that internet penetration rates across the world are increasing at astonishing rates, it's no wonder that telecom companies are investing in suitable and efficient AI systems to ensure that internet connectivity is hardly ever disrupted. Given that broadband connections relying on fibre optic channels may face resistance from natural or man-made elements, it’s crucial that telecom companies put safeguards in place to ensure that these ‘Digital Lifelines’ are maintained at optimal conditions at all times.

                                                        US based Verizon has taken important steps in this regard. Until recently, Verizon primarily relied on customer feedback to understand when the speed and quality of its service was falling short of expectations. Now it’s predictive analytics algorithms monitor 3GB of data every second streaming from millions of network interfaces – from customers’ routers to an array of sensors gathering temperature and weather data, and software which “listens in” on operational data, such as billing records.

                                                        Matt Tegerdine, director of network performance and analytics, Verizon, further chips in by stating, “ The beauty of this is that we don’t just look at one singular data source like interface statistics – we’re also going out and collecting things like environmental statistics, CPU usage on routers. We’re using machine learning to learn what ‘normal’ is.”</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




