{% extends "layouts/unknownbase.html" %}
{% block style%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <style type="text/css">

      .boxstyle{
              visibility: visible;     padding: 50px;
              background-color:  #0095ec3d; 
          }
      .box21style{
            visibility: visible; padding: 50px;
            background-color: #a93ced57; 
        }
        .box2style
        {
            visibility: visible;    padding: 50px;
            background-color: #0095ec3d; 
        }
        /*next 2nd box section about */
        .box3style
        {
            visibility: visible;   padding: 50px;
            background-color: #a93ced57;  height: 345px;
        }
        .box4style
        {
            visibility: visible;   padding: 50px;
            background-color: #0095ec3d;  height: 345px;
        }

      .box{
          padding:60px 0px;
      }

      .box-part{
          background:#FFF;
          border-radius:10px;
          padding:60px 10px;
          margin:30px 0px;
      }

      .box-part:hover{
          background:#4183D7;
          color: #FFFFFF;
      }

      .box-part:hover .fa , 
      .box-part:hover .title , 
      .box-part:hover .text ,
      .box-part:hover a{
          color:#FFF;
          -webkit-transition: all 1s ease-out;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
      }

      .text{
          margin:20px 0px;
      }

      .fa{
           color:#4183D7;
      }

    </style>
{%endblock%}
{% block body %}
    
    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <img src="static/assets/img/logo_banner.svg" width="400px"><br> 
          <h2 style = "font-weight: bold; color: red; display: inline;">E</h2><h3 style = "display: inline;">mpowering</h3> 
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;E</h2><h3 style = "display: inline;">nterprises</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">through</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">pre</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">built</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">and</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;</h2><h3 style = "display: inline;">custom</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;A</h2><h3 style = "display: inline;">rtificial</h3>
          <h2 style = "font-weight: bold; color: red; display: inline;">&nbsp;I</h2><h3 style = "display: inline;">ntelligence</h3>
          <p style = "font-size: 22px;">We create full data and AI driven tech which is decisive in driving our clients growth</p>
        </div>
        <video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>

      </section>
<br><br><br>
   <section class="intro vision8">
        <div class="container">
            <div class="intro-details">
                <div class="intro-info text-center">
                    <b><h2 style="color:#2d7fb3;">
                          <b>Vision8</b>
                    </h2>
                    <hr>
                    <p>
                            A computer vision intelligence tool which can solve your all any computer vision problem and drive the success of your business in every possible manner.
                    </p>
                    </b>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-title text-center">
                    <h2>
                       <b> The Overview </b>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-6 col-md-12 service-image">
                    <figure>
                        <img src="/static/algo_images/opini8.png" alt="" class="img-fluid">
                    </figure>
                </div>
                <div class="col-lg-6 col-md-12 service-desc">
                    <p>
                           Vision8 is a computer vision intelligence tool backed by powerful AI/ML techniques aimed at using video analytics as a solution to various business problems. It is developed by a team which possess rich technical and domain expertise and have worked on a variety of business problems in different industry segments. It is widely applicable in modern day business problems.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>
    <section class="about-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wcu research-features">
                    <div class="row">
                        <div class="col-md-12 section-title text-center">
                            <h2>
                                <b>HOW VISION8 HELPS</b>
                            </h2>
                            <hr>
                        </div>
                    </div>
                </div>
                <!-- Ends: .research-features -->
                <div class="col-md-6">
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" href="#">No Man Zone </a>
                            <div class="uk-accordion-content">
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> No content at that time..
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Fire </a>
                            <div class="uk-accordion-content">
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> Drones, or UAVs, can leverage computer vision systems to enhance humans' abilities to detect forest fires, using infrared images (IR) as part of forest fire surveillance protocols. Advanced algorithms analyze video image characteristics such as motion or brightness to detect fire. The system is making targeted extracts to make it easier to spot patterns and calculate how to see a difference between actual fires and motions, which may be mistakenly interpreted as fires.

                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Crowd Pattern </a>
                            <div class="uk-accordion-content">
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="icon-arrow-right-circle"></span> The goal of crowd analysis techniques based on computer vision is to extract some kind of information from crowded video sequences that could be used to benefit a large number of applications (e.g., surveillance, design of densely populated public spaces, and safety analysis of crowds exiting sports arenas)
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                                <a class="uk-accordion-title" href="#">ANPR </a>
                                <div class="uk-accordion-content">
                                    <ul class="list-unstyled">
                                        <li>
                                            <span class="icon-arrow-right-circle"></span> It uses optical character recognition on images to read vehicle registration plates to create vehicle location data. It  uses existing closed-circuit television, road-rule enforcement cameras, or cameras specifically designed for the task.
                                        </li>
                                    </ul>
                                </div>
                            </li>
                    </ul>
                    <!-- <a href="opini8-case-study.html" style="font-weight:500; font-size:20px; line-height:50px;">VIEW CASE STUDY</a> -->
                </div>
                <div class="col-md-6">
                        <img src="/static/algo_images/6.jpg " class="img-fluid">
                </div>
            </div>
        </div>
    </section>

            <!-- Ends: .col-md-3 -->
            <!-- Ends: .col-md-3 -->
            
            <!-- Ends: .col-md-3 -->
    <br> <br>
 
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/browser.min.js"></script>
      <script src="/static/assets/js/breakpoints.min.js"></script>
      <script src="/static/assets/js/util.js"></script>
      <script src="/static/assets/js/main.js"></script>


{% endblock %}




